html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #ccc;
  padding: 2rem;
}

h2 {
  text-align: center;
  margin: 0 0 1.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5rem;
}

img {
  width: 5em;
  margin-right: 1.5rem;
}

h3, h4 {
  margin: 0;
}

hgroup {
  width: 16em;
}

p {
  margin: 0;
  max-width: 24em;
}

a {
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: .5rem 1rem .6rem;
}

a {

}
